{% extends "inc/base.html" %}

{% block content %}

<div class="row bg-light">
  <p class="col text-danger">
      Sorry, wrong password!
  </p>
</div>
<div class="row bg-light">
  <div class="col-3 py-1">
  Login
  </div>
      <div class="col-8">
        <div class="input-group flex-nowrap">
          <input type="text" placeholder="Enter your login here" class="form-control" />
        </div>
    </div>
  </div>
<div class="row bg-light mt-3">
<div class="col-3 py-1">
  Password
</div>
  <div class="col-8">
    <div class="input-group flex-nowrap">
      <input type="password" placeholder="password" class="form-control" />
    </div>
  </div>
</div>

<div class="row bg-light mt-3">
  <div class="col-4 offset-3">
    <input class="btn btn-primary" type="submit" value="Submit">
  </div>
</div>

{% endblock content %}